@charset "UTF-8";

:root{
    --corHeaderFooter: #13682B;
    --cortextos: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.usuario::before{
    content: 'Publicado por ';
}
.data::before{
    content: 'Review criado em ';
}
/* .container {
    display: ;
    flex-direction: column;
    flex-wrap: nowrap;
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corHeaderFooter);
    min-height: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.header > nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}
.artigo {
    background-color: var(--cortextos);
    /* Proporção que deve expandir. Se ambos estão 1, ambos serão iguais.
    Se um for 1 e o outro 2, o segundo será duas vezes maior que o primeiro.
    */
    flex: 1;
    display: flex;
    /* Faz com que o filho (item) desça uma linha */
    flex-wrap: wrap;
}
.texto {
    background-color: var(--cortextos);
    text-align: justify;
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 60px;
    min-width: 300px;
    flex: 1;
}
.foto {
    background-color: var(--cortextos);
    padding-right: 100px;
    padding-top: 60px;
    min-width: 450px;
    flex: 0.3;

    @media screen and (max-width: 1023px) {
        min-width: 100%;
        padding-left: 100px;
        flex: 1;        
    }
}
.foto > img{
    max-width: 100%;
}
.comentario {
    flex-basis: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--cortextos);
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 108px;
    padding-bottom: 48px;
    
}
.comentario > div{
    max-width: 1950px;
    display: flex;
    flex-wrap: wrap;
}
.comentario > div > img{
    max-width: 124px;
    max-height: 124px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
}
.comentarioTexto > p{
    padding-bottom: 40px;
}
.comentarioRodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer {
    background-color: var(--corHeaderFooter);
}
.footer > div{
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    padding: 48px;
    flex-wrap: wrap;
}
.footer > div > p{
    min-width: 300px;
    flex: 0.3;
}
.footer > p{
    text-align: center;
    padding-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;
}
