@charset "UTF-8";

:root{
    --cor0: #1E1E1E;
    --cor1: #29B851;
    --cor2: #33954E;
    --corHeaderFooter: #13682B;
    --cortextos: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.usuario::before{
    content: 'Publicado por ';
}
.data::before{
    content: 'Review criado em ';
}
.container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.header {
    display: flex;
    background-color: var(--corHeaderFooter);
    height: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.artigo {
    background-color: var(--cortextos);
    
    /* Proporção que deve expandir. Se ambos estão 1, ambos serão iguais.
    Se um for 1 e o outro 2, o segundo será duas vezes maior que o primeiro.
    */
    flex: 1;
    display: flex;

    /* Faz com que o filho (item) desça uma linha */
    flex-wrap: wrap;
}

.foto {
    background-color: var(--cortextos);
    padding-right: 60px;
    padding-top: 60px;
    min-width: 510px;
    flex: 0.3;

    @media screen and (max-width: 1000px) {
        min-width: 100%;
        padding-left: 100px;
        flex: 1;        
    }
}

.texto {
    background-color: var(--cortextos);
    text-align: justify;
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 60px;
    min-width: 300px;
    flex: 1;
}

.comentario {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--cortextos);
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 108px;
    padding-bottom: 48px;
    
}
.comentario > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comentario > div > img{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
}
.comentarioTexto > p{
    padding-bottom: 40px;
}
.comentarioRodape{
    display: grid;
    grid-template-columns:.5fr .5fr;
}
.data{
    text-align: right;
}
.footer {
    background-color: var(--corHeaderFooter);
}
.footer > p{

    text-align: center;
    padding-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;

}
.footer > div{
    display: grid;
    grid-template-columns:0.15fr 0.15fr 0.30fr 0.40fr;
    padding: 48px;
}